@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.seccion {
    width: 100%;
    height: 100vh;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%) hue-rotate(90deg);
    


    }

    /*Oscurece la parte del header para resaltar barra de menu*/
    header {
        position: absolute;
        width: 100%;
        height: 80px;
        background-color: rgba(19, 17, 17, 0.833)
        
}

header img{
    height: 100%;
    padding-top: 2px;
}

header nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

}

header nav ul{
    display: inline-flex;
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
}

header nav ul li a:hover{
    color: #b1d50f;
    transition:all .5s ease-in-out;
    
}



    .description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        margin: 20%;
        
    }


    .description h1 {
        font-size: 4em;
        margin-bottom: 0.5em;    
    }
    
    .description p {
        font-size: 20px ;
        text-align: center;

    }
#Perfil_Arquetipal h1 {

    font-size: 44px;

}



.logo_2{
    padding-top: 5%;
    margin-left: 10%;
    }

    

.seccion#Camino_del_heroe {


    min-height: 100vh;
    background: linear-gradient(to top, #30045c00, #49025910);

}
    
.seccion#Camino_del_heroe{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    
}




.seccion#Camino_del_heroe img{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    filter: brightness(40%)
    
    
}


.seccion#Camino_del_heroe h1  {
    color: #f5f7f8;
    font-size: 60px;
    margin: 0 20px 50px 30px;
    text-shadow: 0px 0px 10px #fffffff7;
    text-align: center;
    transform: translateY(-50px);
    
}


#Camino_del_heroe p   {

    margin: 30px 90px 10px 90px;
    text-align: center;
    font-size: 20px;


}

#Camino_del_heroe{
    
    color:#fff;
flex-direction: column;
}


#btn{
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    background: #110011;
    border-radius: 20px; 
    transform: translateY(20px); 
    transform: translateX(10px); 
    z-index: 1;
    margin: 60px 15px;
    box-shadow: 0px 0px 10px 0px white;
    text-decoration: none;
    
}
section#Camino_del_heroe #btn:hover{
    background: rgb(255, 255, 255);
    color:black;
    font-weight: bold;
    text-shadow: 0px 0px 10px #fffffff7;
    text-decoration: none;
    
}


.form-register {
    width: 400px;
    background: #24303c;
    padding: 50px;
    margin: 20% 15% 15% 35%;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    }

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #110011;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-register .botons:hover{
    background: rgb(255, 255, 255);
    color:black;
    font-weight: bold;
    text-shadow: 0px 0px 10px #fffffff7;
    text-decoration: none;

}
#Formulario{
    background-color: rgba(244, 244, 245, 0.986);
}

#Perfil_arq{
    background-color: rgba(6, 64, 65, 0.271);
    color: #fff;
}

.arq_2{
    margin-left: 55%;
}

#Perfil_arq  h1 {
    font-size: 4em;
    margin-bottom: 0.5em;    
}

#Perfil_arq p {
    font-size: 20px ;
    text-align: center;

}